body{
    background-color: black;
    color: white;
}

.header:hover{
 background-color: green;
}

.header{
    background-color: black;
    font-size: xx-large;
}

.s{
    font-size: x-large;
}


canvas{
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes example{
    from {box-shadow:1px 1px 38px green;}
    to{box-shadow:1px 1px 38px blue;}
}